/* Home.css */

/* Contenedor principal de la página de inicio */
.wrapper-home {
    display: grid;
    grid-template-areas:
        "header"
        "productos";
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin: 0;
    padding: 0 1rem;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Estilo para el título principal */
.wrapper-home h1 {
    text-align: center;
    margin: 2rem 0;
    color: #2c3e50;
}

/* Estilo para el header */
.header {
    grid-area: header;
    font-size: clamp(0.25rem, 2vw, 1.5rem);
}





/* Estilo para el contenedor de productos */

.productos {
    grid-area: productos;
    display: grid;
    width: 90%;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 6rem;
    padding: 1rem;
}