/* Home.css */

/* Contenedor principal de la página de inicio */
.wrapper-home {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "productos";
    justify-content: center;
    margin: 0;
    padding: 0 1rem;
    font-family: Arial, sans-serif;
    color: #333;
}



/* Estilo para el header */
.header {
    grid-area: header;
    font-size: clamp(0.25rem, 2vw, 1.5rem);
}




/* Estilo para el contenedor de productos */
.productos {
    grid-area: productos;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    justify-content: center;
    background-color: rgb(61, 94, 124);
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
    margin: 1rem;
    margin-top: 6rem;
}