/* ItemCarrito.css */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    width: 90%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapper img {
    border-radius: 8px;
    margin-bottom: 1rem;
    max-width: 90%;
    height: auto;
}

.wrapper h1 {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #333;
    text-align: center;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.close-button {
    background-color: rgb(236, 95, 70);
    padding: 0;
}

.close-button:hover {
    background-color: rgb(240, 53, 20);
}